.carousel-container {
    display: flex;
    overflow-x: auto;
    padding: 2rem 0rem;
}

.carousel-container img {
    width: 260px;
    height: 400px;
    object-fit: cover;
    background-color: #4a3f6b;
    margin-right: -160px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.5);
    position: relative;
    border: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.carousel-container img:hover {
    transform: scale(1.1);
    cursor: pointer;
    z-index: 100;
    box-shadow: 0 0 25px rgba(0, 255, 255, 0.5);
    border: 2px solid var(--accent-color);
}

.carousel-container img:last-child {
    margin-right: 0;
}

p {
    color: var(--accent-color);
    text-shadow: 0 0 3px rgba(0, 255, 255, 0.4);
}

@media (max-width: 768px) {
    .carousel-container {
        padding: 1.5rem 0;
    }

    .carousel-container img {
        width: 240px;
        height: 300px;
        margin-right: -160px;
    }
}